header {
    background-color: #1f2937;
    color: #f9faf8;
    
}


.nav-list {
    display: flex;
    gap: 1rem;
    justify-content: right;

}
.hero {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    
}

.hero > * {
    flex-shrink: 1;
    flex-basis: 100%;

}


.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
    justify-self: auto;
    
}
.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    background-color: #3882f6;
    border-radius: 12px;
}

.hero-img {
   align-content: center;
   padding: 50%,

}